@model HuyHoangDATN.Models.Product.ProductCollectionsViewDTO
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
@Html.HiddenFor(model => model.CollectionsType, new { @id = "collection-type" })
@Html.HiddenFor(model => model.CollectionsAlias, new { @id = "collection-alias" })
<div>
    <main class="">
        <div class="searchPage" id="layout-search">
            <div class="container-fluid">
                <div class="row pd-page">
                    <div class="col-md-12 col-xs-12">
                        <div class="heading-page">
                            <h1>Tìm kiếm</h1>
                            <p class="subtxt">Có <span>'@Model.Products.Count()' sản phẩm</span> cho tìm kiếm</p>
                        </div>
                        <div class="wrapbox-content-page">
                            <div class="content-page" id="search">
                                <p class="subtext-result">	Kết quả tìm kiếm cho  <strong>[" @ViewBag.KeySearch "]</strong>.		</p>
                                <div class="results content-product-list ">
                                    <div class=" search-list-results row">
                                        @{ if (Model.Products != null && Model.Products.Any())
                                        {
                                        foreach (var product in Model.Products)
                                        {
                                        <div class="product-resize col-md-3 col-sm-6 col-xs-6 pro-loop fixheight" style="height: 384px;">
                                            <div class="product-block" data-anmation="1">
                                                <div class="product-img image-resize fixheight" style="height: 243px;">
                                                    <a href="@Url.Action(" Detail", "Product" , new { q=product.Alias })" title="Mã sản phẩm: @product.Code">
                                                        <picture>
                                                            <img class="img-loop lazyload" src="@Url.Content(product.ImageURL)" data-src="@Url.Content(product.ImageURL)" alt="@product.Name" />
                                                        </picture>

                                                        <picture>
                                                            <img class="img-loop img-hover lazyload" src="@Url.Content(product.ImageURL)" data-src="@Url.Content(product.ImageURL)" alt="@product.Name" />
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="product-detail clearfix">
                                                    <div class="variantColor">
                                                        @if (product.ListColors != null && product.ListColors.Any())
                                                        {
                                                        <ul>
                                                            @foreach (var color in product.ListColors)
                                                            {
                                                            <li class="" data-filter="@color.Name" data-color="?color=@color.Code">
                                                                <a href="javascript:void(0);" data-img="@Url.Content(color.ImageURL)" data-img-hover="@Url.Content(color.ImageURL)">
                                                                    <img class="lazyload" src="@Url.Content(" ~ /Uploads/Color/" + string.Format("{0}.{1}", color.Code, "png" ))" data-src="@Url.Content(" ~ /Uploads/Color/" + string.Format("{0}.{1}", color.Code, "png" ))" alt="color_@string.Format(" {0}_", color.Code)" />
                                                                </a>
                                                            </li>
                                                            }
                                                        </ul>
                                                        }
                                                    </div>
                                                    <div class="box-pro-detail">
                                                        <h3 class="pro-name">
                                                            <a href="@Url.Action(" Detail", "Product" , new { q=product.Alias })" title="@product.Name">
                                                                @product.Name
                                                            </a>
                                                        </h3>
                                                        <div class="box-pro-prices">
                                                            <p class="pro-price highlight">
                                                                @String.Format(info, "{0:c0}", product.Price)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="activeLabelStatus">
                                                    <div class="labelNewNew styleTogetherLabel">MẪU MỚI</div>
                                                </div>
                                                <div class="actionLoop visible-lg">
                                                    <a class="quickView styleBtnBuy notClick" data-handle="@Url.Action(" Detail", "Product" , new { q=product.Alias })"><i class="fa fa-shopping-cart"></i> Mua nhanh</a>
                                                    <a class="styleBtnBuy" href="@Url.Action(" Detail", "Product" , new { q=product.Alias })"><i class="fa fa-eye"></i> Xem chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        }
                                        else
                                        {
                                        <p style="text-align: center; ">Không có sản phẩm nào bạn đang tìm kiếm!</p>
                                        }
                                        }
                                    </div>
                                </div>
                                @*<div class="row pagination-theme clearfix text-center">
                                    <div id="pagination" class="clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <span class="page-node current">1</span>
                                            <a class="page-node" href="/search?type=product&amp;q=filter%3D((title%3Aproduct**gi%C3%A0y)%7C%7C(sku%3Aproduct**gi%C3%A0y))&amp;page=2">2</a>
                                            <a class="page-node" href="/search?type=product&amp;q=filter%3D((title%3Aproduct**gi%C3%A0y)%7C%7C(sku%3Aproduct**gi%C3%A0y))&amp;page=3">3</a>
                                            <span class="page-node ">…</span>
                                            <a class="page-node" href="/search?type=product&amp;q=filter%3D((title%3Aproduct**gi%C3%A0y)%7C%7C(sku%3Aproduct**gi%C3%A0y))&amp;page=20">20</a>
                                            <a class="next" href="/search?type=product&amp;q=filter%3D((title%3Aproduct**gi%C3%A0y)%7C%7C(sku%3Aproduct**gi%C3%A0y))&amp;page=2">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31 10" style="enable-background:new 0 0 31 10; width: 31px; height: 10px;" xml:space="preserve">
                                                <polygon points="31,5 25,0 25,4 0,4 0,6 25,6 25,10 "></polygon>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

