@model vqt_japanese_food_web.Models.ProductSaleViewModel
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div>
    <main class="">
        <div class="searchPage" id="layout-search">
            <div class="container-fluid">
                <div class="row pd-page">
                    <div class="col-md-12 col-xs-12">
                        <div class="heading-page">
                            <h1>Tìm kiếm</h1>
                            <p class="subtxt">Có <span>'@Model.Products.Count()' sản phẩm</span> cho tìm kiếm</p>
                        </div>
                        <div class="wrapbox-content-page">
                            <div class="content-page" id="search">
                                <p class="subtext-result">	Kết quả tìm kiếm cho  <strong>[" @ViewBag.KeySearch "]</strong>.		</p>
                                <div class="results content-product-list ">
                                    <div class=" search-list-results row">
                                        @{ if (Model.Products != null && Model.Products.Any())
                                        {
                                        foreach (var product in Model.Products)
                                        {
                                        <div class="product-resize col-md-3 col-sm-6 col-xs-6 pro-loop fixheight" style="height: 384px;">
                                            <div class="product-block" data-anmation="1">
                                                <div class="product-img image-resize fixheight" style="height: 243px;">
                                                    <a href="@Url.Action(" Detail", "Product" , new { q=product.Id })" title="Mã sản phẩm: @product.Code">
                                                        <picture>
                                                                        <img class="img-loop lazyload" src="@Url.Content(product.ImageUrl)" data-src="@Url.Content(product.ImageUrl)" alt="@product.Name" />
                                                        </picture>

                                                        <picture>
                                                                        <img class="img-loop img-hover lazyload" src="@Url.Content(product.ImageUrl)" data-src="@Url.Content(product.ImageUrl)" alt="@product.Name" />
                                                        </picture>
                                                    </a>
                                                </div>
                                                <div class="product-detail clearfix">
                                                    <div class="variantColor">
                                                        
                                                    </div>
                                                    <div class="box-pro-detail">
                                                        <h3 class="pro-name">
                                                            <a href="@Url.Action(" Detail", "Product" , new { q=product.Id })" title="@product.Name">
                                                                @product.Name
                                                            </a>
                                                        </h3>
                                                        <div class="box-pro-prices">
                                                            <p class="pro-price highlight">
                                                                @String.Format(info, "{0:c0}", product.Price)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="activeLabelStatus">
                                                    <div class="labelNewNew styleTogetherLabel">MẪU MỚI</div>
                                                </div>
                                                <div class="actionLoop visible-lg">
                                                    <a class="quickView styleBtnBuy notClick" data-handle="@Url.Action(" Detail", "Product" , new { q=product.Id })"><i class="fa fa-shopping-cart"></i> Mua nhanh</a>
                                                    <a class="styleBtnBuy" href="@Url.Action(" Detail", "Product" , new { q=product.Id })"><i class="fa fa-eye"></i> Xem chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        }
                                        else
                                        {
                                        <p style="text-align: center; ">Không có sản phẩm nào bạn đang tìm kiếm!</p>
                                        }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

