<div>
    <div id="topbar" class="clearfix hidden-xs">
        <div class="container-fluid clearfix">
            <div class="no-padding col-xs-12 col-sm-8 col-md-6 hidden-xs">
                <div class="innerTopLeft">
                    <ul>
                        <li>
                            <a href="tel:0987654321">
                                <span class="iconTop icon-1-top"></span>
                                <span class="title-info-top"><b>0909 000 111</b> (free)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="iconTop icon-2-top"></span>
                                <span class="title-info-top">Network of <b>16</b> Dealers</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="iconTop icon-3-top"></span>
                                <span class="title-info-top">
                                    2-hour express delivery
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="no-padding col-xs-12 col-sm-4 col-md-6">
                <div class="innerTopRight">
                    <ul>
                        <li>
                            <span id="site-cart-handle" class="icon-cart" aria-label="Open cart" title="Cart">
                                <a href="javascript:void(0)" class="count-holder">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
                                            <g>
                                            <path d="M447.988,139.696c-0.156-2.084-1.9-3.696-3.988-3.696h-72v-20C372,52.036,319.96,0,256,0S140,52.036,140,116v20H68
                                               c-2.088,0-3.832,1.612-3.988,3.696l-28,368c-0.084,1.108,0.296,2.204,1.056,3.02C37.824,511.536,38.888,512,40,512h432
                                               c1.112,0,2.176-0.464,2.932-1.28c0.756-0.816,1.14-1.912,1.056-3.02L447.988,139.696z M172,116c0-46.316,37.68-84,84-84
                                               s84,37.684,84,84v20H172V116z M156,248c-22.06,0-40-17.944-40-40c0-15.964,8-30.348,24-36.66V208c0,8.824,7.18,16,16,16
                                               s16-7.176,16-16v-36.636c16,6.312,24,20.804,24,36.636C196,230.056,178.06,248,156,248z M356,248c-22.06,0-40-17.944-40-40
                                               c0-15.964,8-30.348,24-36.66V208c0,8.824,7.18,16,16,16s16-7.176,16-16v-36.636c16,6.312,24,20.804,24,36.636
                                               C396,230.056,378.06,248,356,248z"></path>
                                         </g>
                                      </g>
                                   </svg>
                                <span class="title-info-top">Cart <span>(<span class="count">0</span>)</span></span>
                                </a>
                            </span>
                        </li>
                        
                        <li>
                            @await Component.InvokeAsync("HeaderUser")
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="outerHeightHeader">
        <div id="site-header" class="main-header clearfix">
            <div class="no-padding hidden-xs col-sm-12 col-md-2">
                <div class="header-mid wrap-flex-align">
                    <div class="wrap-logo" itemscope itemtype="http://schema.org/Organization">
                        <a href="/" itemprop="url">
                            <img itemprop="logo" src="@Url.Content("~/logo.png")" alt="VQT" class="img-responsive logoimg" style="height: 70px !important; " />
                        </a>
                    </div>
                    <div class="header-wrap-icon visible-sm">
                        <span id="site-search-handle" class="icon-search" aria-label="Tìm kiếm" title="Tìm kiếm">
                            <a href="#">
                                <span class="search-menu" aria-hidden="true">
                                    <svg version="1.1" class="svg-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
                                    <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z" />
                                    <rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8" />
                           </svg>
                                </span>
                            </a>
                        </span>
                        <span class="icon-cart" title="Carts">
                            <a href="@Url.Action("Index","Carts")">
                                <span class="cart-menu" aria-hidden="true">
                                    <svg version="1.1" class="svg-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
                                    <g>
                                    <path d="M0,6v21h24V6H0z M22,25H2V8h20V25z" />
                           </g>
                                    <g>
                                    <path d="M12,2c3,0,3,2.3,3,4h2c0-2.8-1-6-5-6S7,3.2,7,6h2C9,4.3,9,2,12,2z" />
                           </g>
                        </svg>
                                    <span class="count-holder">
                                        <span class="count">0</span>
                                    </span>
                                </span>
                            </a>
                        </span>
                        <span class="hamburger-menu hidden-xs">
                            <a href="#menu-mobile">
                                <span class="bar"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
           
            <div class="no-padding col-xs-12 hidden-sm hidden-xs col-md-2">
                <div class="searchFormHeader">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @id = "form-create", @class = "form-horizontal searchHeader searchDesktop", @enctype = "multipart/form-data" }))
                    {
                        <input type="text" name="q" class="searchInput" placeholder="What should you look for?..." value="" />
                        <input type="submit" class="btnSearch" />
                    }
                </div>
            </div>

            <div class="no-padding col-xs-12 hidden-sm hidden-xs col-md-8">
                <div class="menu-desktop hidden-sm hidden-xs">
                    <div class="wrap-logo wrap-logp-mb">
                        <a href="/">
                            <img height="23" src="@Url.Content("~/logo.png")" alt="vqt" class="img-responsive logoimg" style="height: 70px !important; " />
                        </a>
                    </div>
                    <div id="nav">
                        <div class="main-nav text-center">                           
                            @await Component.InvokeAsync("HeaderCatalog")
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="removeDesktopOptimize visible-xs clearfix">
                <div class="headerMobile">
                    <a href="#menu-mobile" class="hamburger-menu"><span class="bar"></span></a>
                    <div class="wrap-logo">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/logo.png")" alt="HuyHoang" class="img-responsive logoimg" style="height: 70px !important; " />
                        </a>
                    </div>
                    <div class="header-wrap-icon">
                        <span id="site-search-handle" class="icon-search" aria-label="Tìm kiếm" title="Tìm kiếm">
                            <a href="/search">
                                <span class="search-menu" aria-hidden="true">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
                                    <g>
                                    <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
                                    s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
                                    C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
                                    s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"></path>
                              </g>
                           </svg>
                                </span>
                            </a>
                        </span>
                        <span class="icon-cart" title="Carts">
                            <a href="@Url.Action("Index","Carts")">
                                <span class="cart-menu" aria-hidden="true">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                    <g>
                                    <path d="M447.988,139.696c-0.156-2.084-1.9-3.696-3.988-3.696h-72v-20C372,52.036,319.96,0,256,0S140,52.036,140,116v20H68
                                    c-2.088,0-3.832,1.612-3.988,3.696l-28,368c-0.084,1.108,0.296,2.204,1.056,3.02C37.824,511.536,38.888,512,40,512h432
                                    c1.112,0,2.176-0.464,2.932-1.28c0.756-0.816,1.14-1.912,1.056-3.02L447.988,139.696z M172,116c0-46.316,37.68-84,84-84
                                    s84,37.684,84,84v20H172V116z M156,248c-22.06,0-40-17.944-40-40c0-15.964,8-30.348,24-36.66V208c0,8.824,7.18,16,16,16
                                    s16-7.176,16-16v-36.636c16,6.312,24,20.804,24,36.636C196,230.056,178.06,248,156,248z M356,248c-22.06,0-40-17.944-40-40
                                    c0-15.964,8-30.348,24-36.66V208c0,8.824,7.18,16,16,16s16-7.176,16-16v-36.636c16,6.312,24,20.804,24,36.636
                                    C396,230.056,378.06,248,356,248z" />
                              </g>
                           </g>
                        </svg>
                                    <span class="count-holder"><span class="count">0</span></span>
                                </span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>