@{
    Layout = null;
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
@model HuyHoangDATN.Models.Product.ProductColorViewDTO
<div>
    <button type="button" class="close" data-dismiss="modal">
        <img src="//file.hstatic.net/1000360430/file/iconclose_32c1d6a3da3545278283605bbfca0b0b.png" alt="Đóng">
    </button>
    <div class="col-md-8 col-sm-7 col-xs-12">
        <div class="clearfix hidden-xs col-sm-1 thumbnails small-img">
            <div class="row">
            </div>
        </div>
        <div class="clearfix col-sm-11">
            <div id="slide-image" class="owl-carousel owl-loaded owl-theme">

            </div>
            <div class="hinh360" style="display:none">
                <div id="mySpriteSpin"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12" id="detail-product">
        <div class="product-title">
            @Html.HiddenFor(model => model.Name, new { @id = "productName" })
            @Html.HiddenFor(model => model.Code, new { @id = "productCode" })
            <h1>@Model.Name</h1>
            <span class="pro-soldold">Tình trạng: <span class="statusProduct">Còn hàng</span></span>
        </div>
        <div class="product-price" id="price-preview" data-price-min="@Model.Price"><span class="pro-price">@String.Format(info, "{0:c0}", Model.Price)</span></div>
        <form id="add-item-form-quickview" action="" method="post" class="variants clearfix">
            <div class="select-swatch clearfix ">
                <div id="variant-swatch-0" class="borderImgRadius color_each swatch clearfix" data-option="option1" data-option-index="0">
                    <div class="header">
                        Màu sắc
                        <span class="nameColor"></span>
                    </div>
                    <div class="select-swap">
                        @if (Model.ListColors != null && Model.ListColors.Any())
                        {
                            var zIndex = 1;
                            foreach (var color in Model.ListColors)
                            {
                                var clazz = zIndex == 1 ? "sd" : "";

                                <div data-value="@color.Name" class=" n-sd swatch-element color  @color.Code ">
                                    <input class="variant-0" id="swatch-0-@color.Code" type="radio" name="option2" value="@color.Name" data-vhandle="@color.Code" data-trigger="@color.Code">
                                    <label data-handle="@color.Code" class="@color.Code @clazz" for="swatch-0-@color.Code" data-color-code="@color.Code" data-color-name="@color.Name">
                                        <img src="@Url.Content("~/Uploads/Color/"+ string.Format("{0}.{1}", color.Code, "png"))" alt="@color.Name">
                                    </label>
                                </div>
                                zIndex = zIndex + 1;
                            }
                        }
                    </div>
                </div>
                <div id="variant-swatch-1" class=" swatch clearfix" data-option="option2" data-option-index="1">
                    <div class="header">
                        Kích thước

                    </div>
                    <div class="select-swap">
                        @if (Model.ListSizes != null && Model.ListSizes.Any())
                        {
                            foreach (var size in Model.ListSizes)
                            {
                                <div data-value="@size" class="n-sd swatch-element  @size ">
                                    <input class="variant-1" id="swatch-1-@size" type="radio" name="option1" value="@size" data-vhandle="@size" data-trigger="@size" />
                                    <label for="swatch-1-@size">
                                        <span>@size</span>
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="selector-actions">
                <div class="quantity-area clearfix hide">
                    <input type="button" value="-" onclick="minusQuantity()" class="qty-btn">
                    <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                    <input type="button" value="+" onclick="plusQuantity()" class="qty-btn">
                </div>
                <div class="wrap-addcart clearfix">
                    <button type="button" id="add-to-cart" data-id="@Model.Id" class="checkLimitCart add-to-cartProduct btn-addtocart addtocart-modal" name="add">Mua ngay</button>
                </div>
            </div>
        </form>
        <div class="product-description">
            <div class="title-bl">
                <h2>
                    Thông số sản phẩm
                    <span class="icon-open"></span>
                </h2>
            </div>
            <div class="description-content">
                <div class="main_details">
                    <ul>
                        <li>
                            <span class="infobe">Mã sản phẩm:</span>
                            <span class="infoaf">@Model.Code</span>
                        </li>
                        <li>
                            <span class="infobe">Kiểu dáng:</span>
                            <span class="infoaf"> @Model.Name</span>
                        </li>
                        <li>
                            <span class="infobe">Chất liệu:</span>
                            <span class="infoaf">@Model.Material</span>
                        </li>
                        <li>
                            <span class="infobe">Màu sắc:</span>
                            <span class="infoaf">
                                @if (Model.ListColors != null && Model.ListColors.Any())
                                {
                                    var strColor = "";
                                    foreach (var color in Model.ListColors)
                                    {
                                        if (string.IsNullOrEmpty(strColor))
                                        {
                                            strColor = color.Name;
                                        }
                                        else
                                        {
                                            strColor = strColor + " - " + color.Name;
                                        }
                                    }
                                    <span>@strColor</span>
                                }
                            </span>
                        </li>
                        <li>
                            <span class="infobe">Kích cỡ:</span>
                            <span class="infoaf">
                                @if (Model.ListSizes != null && Model.ListSizes.Any())
                                {
                                    var strSize = "";
                                    foreach (var size in Model.ListSizes)
                                    {
                                        if (string.IsNullOrEmpty(strSize))
                                        {
                                            strSize = size;
                                        }
                                        else
                                        {
                                            strSize = strSize + " - " + size;
                                        }
                                    }
                                    <span>@strSize</span>
                                }
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-description">
            <div class="title-bl">
                <h2>
                    Mô tả sản phẩm
                    <span class="icon-open"></span>
                </h2>
            </div>
            <div class="description-content">
                <div class="description-productdetail">
                    <p>@Model.ShortDescription</p>
                </div>
            </div>
        </div>
        <center class="centerDetial">
            <a href="@Url.Action("Detail", "Product", new { q = Model.Alias })">
                Xem chi tiết sản phẩm &gt;&gt;
            </a>
        </center>
    </div>
    <div id="divzoom">
        @if (Model.Images != null && Model.Images.Any())
        {
            <div class="divzoom_main">
                @foreach (var image in Model.Images)
                {
                    <div class="product-thumb text-center">
                        <img class="product-image-feature" src="@Url.Content(image.ImageURL)" alt="@Model.Name">
                    </div>
                }
            </div>
        }
        <div id="positionButtonDiv" class="hidden">
            <p>
                <span>
                    <button type="button" class="buttonZoomIn"><i></i></button>
                    <button type="button" class="buttonZoomOut"><i></i></button>
                </span>
            </p>
        </div>
        <button id="closedivZoom"><i></i></button>
    </div>
    <div class="hidden images">
        @if (Model.Images != null && Model.Images.Any())
        {
            foreach (var image in Model.Images)
            {
                <div name-new="@Model.Code" class="item itemdelete @image.Color" data-original="@Url.Content(image.ImageURL)" data-option="@image.Color" data-variant="@Model.Code">
                    <a href="@Url.Content(image.ImageURL)" title="Click để xem" data-option="@image.Color" data-image="@Url.Content(image.ImageURL)" data-zoom-image="@Url.Content(image.ImageURL)" rel="lightbox-@image.Color">
                        <img class="removeImgMobile hidden-xs img-fluid img-responsive" src="@Url.Content(image.ImageURL)">
                        <img class="removeImgDesktop visible-xs img-fluid img-responsive" src="@Url.Content(image.ImageURL)">
                        <p class="click-p" href="@Url.Content(image.ImageURL)" data-zoom-image="@Url.Content(image.ImageURL)" rel="lightbox-@image.Color">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Click xem hình lớn hơn
                        </p>
                    </a>
                </div>
            }
        }
    </div>
    <div class="hidden thumbnails-hidden">
        @if (Model.Images != null && Model.Images.Any())
        {
            foreach (var image in Model.Images)
            {
                <div class="  thumbnail thumdelete clickItem" data-option="@image.Color" data-zoom="@Url.Content(image.ImageURL)">
                    <img class="img-fluid img-thumbnail" src="@Url.Content(image.ImageURL)">
                </div>
            }
        }
    </div>

    <script>
            var owl, soption = {
                items: 1,
                nav: true,
                dots: false,
                navText: ["", ""],
                transitionStyle: "fade",
                singleItem: true,
                afterInit: function (elem) {
                    var current = this.currentItem;
                },
                afterMove: function (elem) {
                    var current = this.currentItem;
                }
            };
            var switchSlide = function (opt) {
                var imagelast = '';
                if ($("#quickview-cart #slide-image").data('owlCarousel')) {
                    owl.data('owlCarousel').destroy();
                }
                $("#quickview-cart #slide-image").html('');
                $('#quickview-cart #slide-image .item').remove();
                $('#quickview-cart .images .item[data-option=' + opt + ']').clone().appendTo('#slide-image');
                $('#quickview-cart .thumbnails .row .thumbnail').remove();
                $('#quickview-cart .thumbnails .row').html('');
                $('#quickview-cart .thumbnails-hidden .thumbnail[data-option=' + opt + ']').clone().appendTo('.thumbnails .row');
                owl = $("#quickview-cart #slide-image").owlCarousel(soption);
                $("#quickview-cart a[rel^='lightbox']").picbox({}, null, function (el) {
                    return (this == el) || ((this.rel.length > 8) && (this.rel == el.rel));
                });
            }
            $(document).on('click', '#quickview-cart .thumbnails .thumbnail.clickItem', function () {
                owl.trigger("to.owl.carousel", [$(this).index(), 500, true]);
                $("#quickview-cart #slide-image").show();
                $("#quickview-cart .hinh360").hide();
                $("#quickview-cart .videoProduct").hide();
            });
            $(document).on('click', '#quickview-cart .thumbnails .thumbnail', function () {
                $('#quickview-cart .thumbnails .thumbnail').removeClass('active');
                $(this).addClass('active');
            });

            $(document).ready(function () {

                $("#quickview-cart .color_each .swatch-element label.sd").each(function () {
                    var a = $(this).attr("data-handle");
                    switchSlide(a);
                })
                $('#quickview-cart .owlRelate1 .owl-carousel').owlCarousel({
                    items: 4,
                    nav: true,
                    dots: true,
                    lazyLoad: true,
                    touchDrag: true,
                    responsive: {
                        0: {
                            items: 2
                        },
                        767: {
                            items: 2
                        },
                        1024: {
                            items: 4
                        }
                    }
                });
                $("#quickview-cart .tabUlRelate li").click(function () {
                    $("#quickview-cart .tabUlRelate li").removeClass("active");
                    $(this).addClass("active");
                    var dataTab = $(this).attr("data-tab");
                    $("#quickview-cart .tabDetailProduct").hide();
                    $("#quickview-cart .tabDetailProduct[data-tab=" + dataTab + "]").show();
                    $('#quickview-cart .owlRelate2 .owl-carousel').owlCarousel({
                        items: 4,
                        nav: true,
                        dots: true,
                        lazyLoad: true,
                        touchDrag: true,
                        responsive: {
                            0: {
                                items: 2
                            },
                            767: {
                                items: 2
                            },
                            1024: {
                                items: 4
                            }
                        }
                    });
                });
                $("#quickview-cart .swatch .swatch-element input").click(function () {
                    $("#quickview-cart #slide-image").show();
                    $("#quickview-cart .hinh360").hide();
                    $("#quickview-cart .videoProduct").hide();
                });
                $('#quickview-cart .color_each input').click(function () {
                    var b = $(this).attr("data-vhandle");
                    switchSlide(b);
                });
                $("#quickview-cart .product-description .title-bl").click(function () {
                    $(this).find(".icon-open").toggleClass("active");
                    $(this).next().slideToggle();
                });
                $('#quickview-cart #add-to-cart').click(function (e) {
                    var colorCount = $('#quickview-cart #add-item-form-quickview label.sd').length
                    var sizeCount = $('#quickview-cart #add-item-form-quickview div[id*=variant-swatch-]').length
                    if (colorCount == sizeCount) {
                        e.preventDefault();
                        $(this).addClass('clicked_buy');
                        var ProductId = $(this).attr('data-id')
                        var ProductPrice = $("#quickview-cart #price-preview").attr("data-price-min");
                        var Qty = 1;
                        var ColorCode = $('#quickview-cart #add-item-form-quickview label.sd').attr('data-color-code')
                        var ColorName = $('#quickview-cart #add-item-form-quickview label.sd').attr('data-color-name')
                        var Size = $("input[name='option1']:checked").val()
                        var ProductName = $('#productName').val()
                        var ProductCode = $('#productCode').val()
                        var ImageURL = $('.images .item.' + ColorCode + '').attr('data-original')

                        var Item = {
                            Id: ProductId,
                            Price: ProductPrice,
                            Code: ProductCode,
                            Name: ProductName,
                            Qty: Qty,
                            ColorCode: ColorCode,
                            ColorName: ColorName,
                            Size: Size,
                            ImageURL: ImageURL,
                            LinkURL: '@Url.Action("Detail", "Product", new { q = Model.Alias })'
                        }
                        HuyHoang.addToCard(Item)
                        $("#site-cart-handle").click();
                    } else {
                        swal({
                            type: 'error',
                            text: 'Vui lòng chọn size hoặc màu mà bạn thích. Xin cảm ơn. '
                        });
                    }
                });
            });


    </script>
    <script>
        var checkSort = false;
        var checkSort = true;
        var check_variant = true;
        var fIndex = false;
        if (checkSort) {
            setTimeout(function () {
                var swatch_size = parseInt($('#quickview-cart .select-swatch').children().size());
                $(document).ready(function () {
                    var _chage = '';
                    $('#quickview-cart .swatch-element[data-value="' + $('#quickview-cart .selector-wrapper .single-option-selector').eq(1).val() + '"]').find('input').click();
                    $('#quickview-cart .swatch-element[data-value="' + $('#quickview-cart .selector-wrapper .single-option-selector').eq(0).val() + '"]').find('input').click();
                    if (swatch_size == 1) {
                        var _avi_op1 = '';
                        $('#quickview-cart #variant-swatch-0 .swatch-element').each(function (ind, value) {
                            var _key = $(this).data('value');
                            $('#quickview-cart .single-option-selector').eq(0).val(_key).change();
                            if (check_variant == true) {
                                if (_avi_op1 == '') {
                                    _avi_op1 = _key;
                                }
                            } else {
                                $('#quickview-cart #variant-swatch-0 .swatch-element[data-value = "' + _key + '"]').addClass('soldout');
                                $('#quickview-cart #variant-swatch-0 .swatch-element[data-value = "' + _key + '"]').find('input').attr('disabled', 'disabled');
                            }
                        })
                        $('#quickview-cart #variant-swatch-0 .swatch-element[data-value = "' + _avi_op1 + '"] input').click();
                    }
                    else if (swatch_size == 2) {
                        var _avi_op1 = '';
                        var _avi_op2 = '';
                        var _count = $('#quickview-cart #variant-swatch-1 .swatch-element').size();
                        $('#quickview-cart #variant-swatch-0 .swatch-element').each(function (ind, value) {
                            var _key = $(this).data('value');
                            var _unavi = 0;
                            $('#quickview-cart .single-option-selector').eq(1).val(_key).change();
                            $('#quickview-cart #variant-swatch-1 .swatch-element').each(function (i, v) {
                                var _val = $(this).data('value');
                                $('#quickview-cart .single-option-selector').eq(0).val(_val).change();
                                if (check_variant == true) {
                                    if (_avi_op1 == '') {
                                        _avi_op1 = _key;
                                    }
                                    if (_avi_op2 == '') {
                                        _avi_op2 = _val;
                                    }
                                } else {
                                    _unavi += 1;
                                }
                            })
                        })
                        $('#quickview-cart #variant-swatch-1 .swatch-element[data-value = "' + _avi_op2 + '"] input').click();
                        $('#quickview-cart #variant-swatch-0 .swatch-element[data-value = "' + _avi_op1 + '"] input').click();
                    }
                    else if (swatch_size == 3) {
                        var _avi_op1 = '';
                        var _avi_op2 = '';
                        var _avi_op3 = '';
                        var _size_op2 = $('#quickview-cart #variant-swatch-1 .swatch-element').size();
                        var _size_op3 = $('#quickview-cart #variant-swatch-2 .swatch-element').size();
                        $('#quickview-cart #variant-swatch-0 .swatch-element').each(function (ind, value) {
                            var _key_va1 = $(this).data('value');
                            var _count_unavi = 0;
                            $('#quickview-cart .single-option-selector').eq(0).val(_key_va1).change();
                            $('#quickview-cart #variant-swatch-1 .swatch-element').each(function (i, v) {
                                var _key_va2 = $(this).data('value');
                                var _unavi_2 = 0;
                                $('#quickview-cart .single-option-selector').eq(1).val(_key_va2).change();
                                $('#quickview-cart #variant-swatch-2 .swatch-element').each(function (j, z) {
                                    var _key_va3 = $(this).data('value');
                                    $('#quickview-cart .single-option-selector').eq(2).val(_key_va3).change();
                                    if (check_variant == true) {
                                        if (_avi_op1 == '') {
                                            _avi_op1 = _key_va1;
                                        }
                                        if (_avi_op2 == '') {
                                            _avi_op2 = _key_va2;
                                        }
                                        if (_avi_op3 == '') {
                                            _avi_op3 = _key_va3;
                                        }
                                    } else {
                                        _unavi_2 += 1;
                                    }
                                })
                                if (_unavi_2 == _size_op3) {
                                    _count_unavi += 1;
                                }
                            })
                        })
                        $('#quickview-cart #variant-swatch-0 .swatch-element[data-value = "' + _avi_op1 + '"] input').click();
                    }
                })
            }, 400)
        }
    </script>

    <!--Customize JS-->
    <script type="text/javascript">
        /*** Event Change swatch Size and Color ***/
        jQuery(document).on('click', '#quickview-cart .swatch input', function (e) {
            var $this = $(this)
            $this.parent().siblings().find('label').removeClass('sd')
            $this.next().addClass('sd')
        });
    </script>
</div>